@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
  .sidebar-open {
    transform: translateX(16rem);
    width: calc(100% - 16rem);
  }
}

button:focus, a:focus {
  outline: none !important;
}